h1 {
  color: green;
  text-align: center;
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 20px;
  border-bottom: solid purple 2px;
  margin: auto;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  color: green;
  border-bottom: solid purple 2px;
  font-size: 40px;
}

h3 {
  color: green;
  text-align: center;
  font-size: 40px;
}

h4 {
  color: green;
  font-size: 30px;
  border-bottom: solid purple 2px;
  margin-left: auto;
  margin-right: auto;
  width: 285px;
  padding-top: 200px;
}


figcaption {
  color: green;
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Fjalla One', sans-serif;
}

p {
  color: green;
}

#image1 {
  height: 0%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  border-radius: 9999999999999999999999999999999px;

}

#fam {
  padding-top: 60px;
  border-bottom: solid purple 2px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#bio {
  width: 1100px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-top: 20px;

}

#figcaption {
  margin-top: 20px;
}

#biotit {
  margin-top: 50px;
  width: 259px;
  margin-left: auto;
  margin-right: auto;
  font-family: ;
}

#titles {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;


}

#para {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  margin-right: auto;
  margin-left: auto;

}

#lists {
  text-align: center;
  display: flex;
  justify-content: space-between;
}



#locationList {


  display: flex;
  justify-content: space-between;
  position: relative;
  left: 720px;
  margin-bottom: 200px;

}

#para1 {}

.t1 {
  border-bottom: solid purple 2px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: left;

}

.ol1 {
  list-style: circle;
}

ol {
  color: green;
  list-style: upper-roman;

}

ul {
  color: green;
  list-style: square
}


#div1 {
  position: relative;
  left: 250px;

}

#div3 {
  position: relative;
  right: 250px;
}